/* ---------------------main------------------ */
body {
  background: #eeeec97b;
}

h1 {
  font-size: 5rem;
  font-weight: 600;
  margin-bottom: 20px;
}

/* -----------------accordion-------------------- */

.wrapper{
  max-width: 1960px;
  /* max */
  height: 1160px; 
  margin: 0 auto;
  padding: 40px 20px;
}

img{
  flex: none !important;
  width: 0;
  height: 0;

  transition: height 0.7s ease-in-out;
  cursor: pointer;
}

/* img, i{
  flex: none !important;
} */


label{
  width: 100%;

  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  row-gap: 30px;

  font-size: 2.8rem;
  font-weight: bold;
  border-top: 1px solid #999;
  padding: 2% 0;
  cursor: pointer;
}

label >* {
  flex: 1 0 39%;
}

i {
  display: flex !important;
  justify-content: flex-end;
  font-size: 50px;
}

input{
  width: 0;
  height: 0;
}

/* remove icon hover */
.fa-solid{
  visibility: hidden;
  transition: all 0.1s cubic-bezier(0.215, 0.610, 0.355, 1);
}

.accordion:hover .accordion__block .fa-solid{
  visibility: visible;
  transition: all 0.4s cubic-bezier(0.215, 0.610, 0.355, 1);
}

.accordion__block:hover .fa-solid{
  /* transform: rotate(45deg);  */
}

.accordion:hover .fa-solid{
  color: #000 !important;
}

.accordion:hover label{
  color: rgb(110, 95, 230);
  transition: color 0.1s ease-in-out;
}




/* input:hover ~ {
  color: rgb(110, 95, 230);
  transition: color 0.1s ease-in-out;
}

/* ----------------close/open img------------------ */
input:hover ~ img{
  flex: none;
  width: 80%;
  height: 55rem;
  margin: 0 auto;
  transition: height 0.4s ease-in-out;
}

input:checked ~ img{
  flex: none;
  width: 80%;
  height: 55rem;
  margin: 0 auto;
  transition: height 0.4s ease-in-out;
}

/* input:checked ~ .accirdion__img img{
  width: 68%;
  height: 30rem;
  transition: all 0.4s ease-in-out;
} */

/* input:checked ~ .accirdion__img {
  margin-bottom: 20px;
} */

/* input:checked ~ i{
  transform: rotate(45deg);
} */
