/* ---------------------main------------------ */
body {
  background: #eeeec97b;
}

h1 {
  font-size: 5rem;
  font-weight: 600;
  margin-bottom: 20px;
}

/* -----------------accordion-------------------- */

.wrapper{
  max-width: 1960px;
  /* max */
  height: 1160px; 
  margin: 0 auto;
  padding: 40px 20px;
}

label{
  width: 100%;
  height: 450px;
  cursor: pointer;
}

input{
  width: 0;
  height: 0;
  opacity: 0;
}

input:checked + label{
  background: red;
}

.accordion__block{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}





/* 
.accordion__img {
  display: none;
}

.accordion__block{
  padding: 10px;
  border-top: 1px solid #999;
  cursor: pointer;
}

.accordion__block__top{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.accordion__title{
  font-size: 2.7rem;
  font-weight: 600;
  color: #1b1ba8ea;
}

.accordion__img{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.fa-solid{
  font-size: 3rem;
  transition: transform 0.4s cubic-bezier(0.165, 0.84, 0.44, 1);
}

/* ==================== */
/* .accordion__img img {
  height: 0;
  transition: height 0.4s cubic-bezier(0.165, 0.84, 0.44, 1);
} */

/* ---------------move del icon---------------- */
/* .accordion__icon {
  visibility: hidden;
  transition: visibility 0.2s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.accordion:hover .accordion__block__top .accordion__icon{
  visibility: visible;
  transition: visibility 0.2s cubic-bezier(0.165, 0.84, 0.44, 1);
}
.accordion__block:hover .accordion__block__top .accordion__icon .fa-solid{
  transform: rotate(45deg);
  transition: transform 0.4s cubic-bezier(0.165, 0.84, 0.44, 1);
} */

/* ---------------change title color----------------- */
/* .accordion__block:hover .accordion__block__top .accordion__title{
  color: #000;
  transition: color 0.4s cubic-bezier(0.165, 0.84, 0.44, 1);
}

/* ---------------appear img------------------------- */
/* .accordion__block:hover .accordion__img img {
  width: 60%;
  height: 35rem;
  transition: all 0.4s cubic-bezier(0.165, 0.84, 0.44, 1);
} */

/* ----------------click img--------------------------- */